# =========================
# Unity generated folders
# =========================

**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/[Mm]emoryCaptures/
**/[Rr]ecordings/
**/.utmp/

# =========================
# IDE / editor files
# =========================

**/.vs/
**/.gradle/
**/.idea/

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user

ExportedObj/
.consulo/

# =========================
# Unity / crash generated
# =========================

*.log
sysinfo.txt
mono_crash.*

*.pidb.meta
*.pdb.meta
*.mdb.meta

# =========================
# Blender temp files
# =========================

*.blend1
*.blend1.meta

# =========================
# Builds / packages
# =========================

*.apk
*.aab
*.app
*.unitypackage
*.unitypackage.meta

# =========================
# Addressables
# =========================

**/ServerData/
**/[Aa]ssets/StreamingAssets/aa*
**/[Aa]ssets/AddressableAssetsData/link.xml*
**/[Aa]ssets/Addressables_Temp*
**/[Aa]ssets/AddressableAssetsData/*/*.bin*

# =========================
# Visual Scripting generated
# =========================

**/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
**/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
**/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
**/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# =========================
# Test generated
# =========================

**/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# =========================
# UI Toolkit generated
# =========================

**/UIElementsSchema/

# =========================
# Unity generated caches
# =========================

**/[Aa]ssets/[Ss]ceneDependencyCache*

# =========================
# Vuforia / package archives
# =========================

**/Assets/Editor/Migration/com.ptc.vuforia.engine-*.tgz
**/Packages/*.tgz

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db
desktop.ini